<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png" />
	<link rel="stylesheet" href="../static/styles/3-header.css" />
	<link rel="stylesheet" href="../static/styles/3-footer.css" />
	<link rel="stylesheet" href="../static/styles/4-common.css" />
	<link rel="stylesheet" href="../static/styles/6-filters.css" />
</head>

<body>
	<header>
		<div class="logo"></div>
	</header>
	<div class="container">
		<section class="filters">
			<div class="locations">
				<h3>States</h3>
				<h4>&nbsp;</h4>
				<ul class="popover">
					{% for sing_state in states_l|sort(attribute='name') %}
					<li>
						<h2>{{ sing_state.name }}</h2>
						<ul>
							{% for sing_city in state.cities|sort(attribute='name') %}
							<li> {{ sing_city.name }} </li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<ul class="popover">
					{% for amenity in amenities_l|sort(attribute='name') %}
					<li>{{ amenity.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<button>
				Search
			</button>
		</section>
	</div>
	<footer>
		Holberton School
	</footer>
</body>

</html>